<div class="row">
    <form #pageForm="ngForm" (ngSubmit)="onSubmit(pageForm)" class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <input id="title" name="title" type="text" class="validate" [ngModel]="page.data.title">
                <label for="title">title</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="content" name="content" type="text" class="validate" [ngModel]="page.data.content">
                <label for="content">content</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="slug" type="text" name="slug" class="validate" [ngModel]="page.data.slug" >
                <label for="slug">slug</label>
            </div>
        </div>
        <div class="row">
            <label>
                <input type="checkbox" class="filled-in" name="isDefault" [ngModel]="page.data.isDefault" />
                <span>is default page?</span>
            </label>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>